  @tailwind base;
  @tailwind components;
  @tailwind utilities;

.btn-primary {
    @apply bg-blue-500 text-white px-6 py-3 rounded-full font-semibold hover:bg-blue-600 transition duration-300 flex items-center;
}

.btn-secondary {
    @apply bg-gray-200 text-gray-800 px-6 py-3 rounded-full font-semibold hover:bg-gray-300 transition duration-300 flex items-center;
}

.social-icon {
    @apply text-2xl text-white hover:text-blue-300 transition duration-300;
}
.vertical-timeline {
    overflow: visible !important;
  }
  

 
  
  /* Masquer la scrollbar tout en gardant la fonctionnalité */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }